/* Main layout structure */
.main-layout {
    display: flex;
  }
  
  /* Sidebar styles */
  app-sidebar {
    /* width: 250px; */
    transition: width 0.1s ease;
  }
  
  app-sidebar.collapsed {
    width: 50px;
  }
  
  /* Content area styles */
  .content-area {
    transition: margin-left 0.1s ease; /* Smooth transition when sidebar is collapsed or expanded */
    padding: 20px;
  }
  
  /* When the sidebar is collapsed, reduce the left margin */
  .collapsed-content {
    margin-left: 50px; 
  }
  
  /* When the sidebar is expanded, increase the left margin */
  .expanded-content {
    margin-left: 250px; 
  }

  @media screen and (max-width: 480px) {
    .expanded-content {
      margin-left: 145px; 
    }
  }
  