body {
    background-color: #f1f3f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Dashboard title */
h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

/* Dashboard Container */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

/* Dashboard Cards */
.dashboard-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    border-top: 5px solid #530991;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Dashboard Icon */
.dashboard-icon {
    font-size: 40px;
    color: #1F1D78;
    margin-bottom: 10px;
}

/* Dashboard Heading */
.dashboard-card h3 {
    color: #1F1D78;
    margin-bottom: 10px;
}

/* Dashboard Card Number */
.dashboard-card p {
    font-size: 24px;
    color: #333;
}


/* Mobile responsiveness */
@media screen and (max-width: 600px) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}


.custom-snackbar {
    background-color: #5a2d85;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }